body{
    background-color: rgb(149, 149, 149);
    color: rgb(247, 247, 247);
    font-family: cursive;
    border-radius: 10rem;
    padding: 5rem;
    
}

.cabecalho{
    color: yellow;
    font-size: 5rem;
    font-family:pacifico ;
}

    .titulo{
    color: red;
}

.subtitulo{
    color: yellow;
}

.loc{
    color: yellow;
}

.tel{
    color: yellow;
}